{% extends 'tasklist/base.html' %} {% block main %}
<h1>Список покупок:</h1>
<hr>
<ol class="list-group">
    {% for item in groceries %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-12 mt-1 pb-0">
            <h3>
                <a style="color: black; font-size: 32px;" href="{% url 'tasklist:delete' pk=item.pk %}">×</a>
                <a href="{% url 'tasklist:detail' pk=item.pk %}">{{item}}</a>
            </h3>
            <h5>{{item.text}}</h5>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>
<hr>
<a href="{% url 'tasklist:create' %}">Добавить покупку</a>
{% endblock main %}
