<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing my HTML skills</title>
</head>

<body>
    <aside>
        <form style="text-align-last: center; vertical-align: middle">
            <div>
                <label>First Name</label>
                <input type="text" name="FirstName" placeholder="John">
            </div>
            <br>
            <div>
                <label>Last Name</label>
                <input type="text" name="LastName">
            </div>
            <br>
            <div>
                <label for="">Your city:</label>
                <select name="city">
                    <option value="Moscow">Moscow</option>
                    <option value="New York">New York</option>
                    <option value="London">London</option>
                </select>
            </div>
            <br>
            <div>
                <label>e-mail:</label>
                <input type="email">
            </div>
            <br>
            <div>
                <label>Your Birthday:</label>
                <input type="date">
            </div>
            <br>
            <div>
                <label>Lucky number:</label>
                <input type="number" value="7">
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </aside>
</body>

</html>