{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>List of your Notes!</title>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body class="bg-light">
  <div class="jumbotron mt-0 pt-4 pl-5 pb-1">
    <div class="container-fluid">
      <p class="display-1 ml-auto pt-4 pb-0" style="font-family: Acme">Welcome to Notes!</p>
      <br>
      <hr class="listtext">
      <p class="display-4 listtext text-dark">Make, save and update your writings</p>
      <br>
    </div>
  </div>
  <div class="container text-center ml-0 pl-2 mb-3 ml-3 pb-3">
    <div class="d-flex flex-row justify-content-start">
      <a href="{% url 'admin:index' %}" class="mx-2 btn btn-lg btn-outline-info listtext">Admin</a>
      <a href="{% url 'notes:create' %}" class="lead btn btn-lg btn-primary listtext">Create new Note</a>
    </div>
  </div>
  <hr class="listtext">
  <br>
  <div class="container ml-3 col-lg-6">
    {% for note in notes reversed %}
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <span class="h5"><a href="{% url 'notes:detail' note.id %}" class="text-dark">{{ note.name }}</a></span>
          <span class="float-right">
          	<a href="{% url 'notes:update' note.id %}" class="text-dark mr-3">Update</a>
          	<a href="{% url 'notes:delete' note.id %}" class="text-danger">Delete</a>
          </span>
        </li>
        <li class="list-group-item list-group-item-light">
          <span class="lead">{{ note.body }}</span>
        </li>
      </ul>
      <br>
    {% endfor %}
  </div>
  {% block main %}
    
  {% endblock main %}
</body>
</html>