.s {
	display: inline-block;
	margin-right: 0.3%;
	margin-left: 0.3%;
	width: 130px;
	height: 400px;
}

h1 {
	font-family: Kaushan Script;
}

body {
	margin-top: 15%;
	text-align: center;
}

#a {

	background-color: #50514F;
	
	border: 10px solid #50514F;
}

#b {
	background-color: #F25F5C;
	/*margin-left: 20%;*/
	border: 10px solid #F25F5C;
}

#c {
	background-color: #FFE066;
	/*margin-left: 40%;*/
	border: 10px solid #FFE066;
}

#d {
	background-color: #247BA0;
	/*margin-left: 60%;*/
	border: 10px solid #247BA0;
}

#e {
	background-color: #70C1B3;
	/*margin-left: 80%;*/
	border: 10px solid #70C1B3;
}